@import '../../styles/variables.less';

.wrapper {
  height: @char-banner-height;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  //
  position: fixed;
  left: 0;
  right: 0;
  background-color: @page-wrapper-bg-cloor;
  z-index: 99;
  box-shadow: -5px 3px 6px 0 #dad0d0;
}

.switch-page {
  font-size: 0;
  line-height: 1;
  display: inline-block;
  z-index: 11;
  position: absolute;
  right: 15px;
  top: 15px;
}

.view-wrapper {
  //display: flex;
  //flex: 1;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.random-list {
  display: block;
  background-color: #eee;
}

.random-list-text {
  font-size: 18px;
}

.selected-item {
  display: block;
  background: #ff09;
}

.selected-item-text {
}
