@import '../../styles/variables.less';

.wrapper {
  display: inline-block;
  z-index: 11;
  position: absolute;
  left: 2px;
  top: 2px;
}

.nav-wrapper {
  display: block;
  padding: 10px 25px;
}

.nav-button {
  display: table;
  align-items: center;
  border: 2px solid #fff5;
  box-shadow: 0 5px 6px 0 #e2e2e2;
  //background-color: transparent;
  background-color: transparent;
  font-size: 20px;
  border-radius: 100px;
  padding: 4px 12px;

  .nav-button-image {
    width: 26px;
    height: 26px;
    vertical-align: text-bottom;
  }

  .nav-button-text {
    padding: 0 6px 0 8px;
    color: #555;
  }
}

.nav-button--disable-shadow {
  box-shadow: none;
}
