@import '../../styles/variables.less';

.switch-page {
  font-size: 0;
  line-height: 1;
  display: inline-block;
  z-index: 11;
  position: absolute;
  //right: 15px;
  left: 15px;
  top: 15px;
}

.nav-button {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  border: 2px solid #eee;
  box-shadow: -1px 5px 6px 0 #d1d1d1;
  background-color: transparent;
  font-size: 18px;
  border-radius: 100px;
  padding: 4px 10px;
  line-height: 1;
}

.nav-button-image {
  width: 28px;
  height: 28px;
}

.nav-button-text {
  margin-left: 5px;
  line-height: 1;
  color: #555;
}
