@import '../../styles/variables.less';

.wrapper {
  height: @char-banner-height;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  //
  position: fixed;
  left: 0;
  right: 0;
  background-color: @page-wrapper-bg-cloor;
  z-index: 11;
  box-shadow: -1px 2px 10px 0 #e4e4e4;
}

.view-wrapper {
  //display: flex;
  //flex: 1;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.random-list {
  display: block;
  background-color: #eee;
}

.random-list-text {
  font-size: 18px;
}

.selected-item {
  display: block;
  background: #ff09;
}

.selected-item-text {
}
