@import '../../styles/variables.less';

.wrapper {
  .fixed-wrapper();
}

.wrapper-inner {
  .fixed-wrapper-inner();
}

.main-wrapper {
  display: flex;
  flex: 1;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.start-exam-wrapper {
}

.start-exam-button {
  .button--primary();

  @font-size: 38px;

  padding: 20px 80px;
  margin-top: 40px;

  .start-exam-button-image {
    @image-size: @font-size + 4;

    width: @image-size;
    height: @image-size;
  }

  .start-exam-button-text {
    padding-left: 10px;
    font-size: @font-size;
    font-weight: 400;
  }
}

.start-exam-button--WEAPP {
  margin-top: 20px;
}

.select-exam-range-wrapper {
  @size: 30px;

  margin-top: 5px;
}

.select-exam-range-checkboxgroup {
  text-align: center;
  display: block;
  padding: 0;
}

.select-exam-range-label {
  text-align: left;
  display: inline-block;
  margin: 0;
  padding: 0;
  width: auto;

  .select-exam-range-checkbox {
    @checkbox-width: 42px;

    width: @checkbox-width !important;
    height: @checkbox-width !important;
    vertical-align: 1px;
    margin-left: 10px;
  }

  .select-exam-range-checkbox-text {
    //font-size: @size;
    display: inline-block;
    width: 65px;
    font-size: 28px;
    padding-left: 8px;
    color: #777;
  }
}

.select-exam-range-label--WEAPP {
  width: 160px;
  margin-top: 20px;

  .select-exam-range-checkbox {
    margin-left: 35px;
  }

  .select-exam-range-checkbox-text {
    padding-left: 5px;
  }
}

.select-exam-range-label--WEB {
  width: auto;

  .select-exam-range-checkbox {
    margin-left: 50px;
  }

  .select-exam-range-checkbox-text {
    padding-left: 13px;
  }
}

.start-exam-button--disable {
  opacity: 0.5;
}

.progress-wrapper {
  margin-top: 30px;
  width: 100%;

  .progress-bar {
    text-align: center;
    margin: 25px auto 0 auto;
    line-height: 1;
    width: 90%;
    display: block;
    border-radius: 100px;

    :global {
      .weui-progress__bar,
      .weui-progress__inner-bar {
        border-radius: 99px !important;
      }
    }
  }

  .progress-info {
    @font-size: 42px;

    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1;
    font-size: @font-size;
    margin-bottom: 20px;

    .progress-info-image {
      @image-size: @font-size;

      padding: 0 20px 3px 0;
      width: @image-size;
      height: @image-size;
    }

    .progress-info-text {
      line-height: 1;
      font-size: @font-size;
      font-family: @number-family;
    }
  }
}

.icon-replay {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 30px 40px;

  .icon-replay-image {
    width: 48px;
    height: 48px;
    opacity: 0.7;
  }

  .icon-replay-image--action {
    opacity: 0.2;
  }
}

.exit-exam-button {
  @font-size: 22px;
  @bg-color: #ddd;

  display: table;
  height: @font-size;
  line-height: 1px;
  border-radius: 100px;
  border: 2px solid @bg-color;
  padding: 8px 30px;
  margin: 25px auto;

  .exit-exam-button-text {
    line-height: 1;
    color: darken(@bg-color, 10%);
    font-size: @font-size;
    font-weight: 400;
  }

  &:active {
    border-color: darken(@bg-color, 8%);

    .exit-exam-button-text {
      color: darken(@bg-color, 20%);
    }
  }
}
