//
// PROJECT
// ------------------------------------------
@page-wrapper-max-width: 680px;
@page-wrapper-padding-x: 24px;
@page-card-padding-x: 16px;
@page-wrapper-bg-cloor: #f7f6e8;
@char-banner-height: 260px;

//
// ANTD
// ------------------------------------------
//
// Iconfont
//@iconfont-css-prefix: anticon;
// prettier-ignore
@font-family: 'Chinese Quote', 'Segoe UI', Roboto, -apple-system, BlinkMacSystemFont, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
@code-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace;
@char-family: 'NumberPro', monospace;
@number-family: 'NumberPro', monospace;

// Colors
//@primary-color: #3ecf4e;
@primary-color: #00bc3b;
@secondary-color: #1f8a85;
@info-color: #1890ff;
@success-color: #52c41a;
@processing-color: #1890ff;
@error-color: #f5222d;
@highlight-color: #f5222d;
@warning-color: #faad14;
@normal-color: #d9d9d9;

// Text
@text-color: #333;

// Breakpoints
//@screen-xs: 480px;
//@screen-sm: 576px;
//@screen-md: 768px;
//@screen-lg: 992px;
//@screen-xl: 1200px;
//@screen-xxl: 1600px;

@screen-xs: 480px; // Phone
@screen-sm: 576px; // Pda P
@screen-md: 768px; // Pad L
@screen-lg: 992px; // PC
@screen-xl: 1200px; // -
@screen-xxl: 1600px; // -

//
// MIXIN
// ------------------------------------------
//
.button {
  @default-button-bg-color: #fff;
  @default-button-shadow-color: #ddd;

  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid @default-button-bg-color;
  border-radius: 100px;
  padding: 12px;
  -webkit-tap-highlight-color: transparent;

  //line-height: 1;
  //line-height: 40px;
  color: #333;
  background-color: @default-button-bg-color;
  box-shadow: 0 5px 10px 0 @default-button-shadow-color;
  transition: all 0.2s;
  cursor: pointer;

  &:hover {
    border-color: transparent;
    box-shadow: 0 5px 10px 0 darken(@default-button-shadow-color, 2%);
  }

  &:active {
    -webkit-tap-highlight-color: transparent;
    border-color: transparent;
    box-shadow: 0 5px 10px 0 darken(@default-button-shadow-color, 2%);
  }
}

.button--primary {
  .button();

  color: #fff;
  background-color: @primary-color;
  border: 2px solid darken(@primary-color, 2%);

  &:hover {
    background-color: darken(@primary-color, 4%);
    border: 2px solid darken(@primary-color, 5%);
  }

  &:active {
    background-color: darken(@primary-color, 7%);
    border: 2px solid darken(@primary-color, 8%);
  }
}

.fixed-wrapper {
  position: fixed;
  left: 0;
  right: 0;
  box-shadow: -1px 2px 10px 0 #e4e4e4;
  z-index: 99;
  height: @char-banner-height;
  background-color: @page-wrapper-bg-cloor;
}

.fixed-wrapper-inner {
  position: relative;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  height: @char-banner-height;
  margin: 0 auto;

  @media (min-width: @screen-md) {
    max-width: @page-wrapper-max-width;
  }
}
