@import '../../styles/variables.less';

@char-item-height: 36px;

.char-item {
  .button();

  font-weight: 800;
  border: 2px solid #f6f6f6;
  font-size: @char-item-height;
  font-family: @char-family;
  padding: 12px 0;
  width: 100%;

  &:hover {
    box-shadow: -3px 5px 10px 0 #aaa;
  }
}

.char-item-text {
}

.char-item--active {
  color: #fff;
  background-color: darken(@primary-color, 2%);
  border: 2px solid darken(@primary-color, 4%);
}
