@import '../../styles/variables.less';

.page-wrapper {
  background-color: transparent;
  margin: 0 auto;

  @media (min-width: @screen-md) {
    max-width: @page-wrapper-max-width;
  }
}

.wrapper-scroll {
  padding-top: @char-banner-height;
  padding-bottom: 50px;
}

.nav-to-history-wrapper {
  z-index: 111;
  position: fixed;
  right: -15px;
  bottom: -10px;
  opacity: 0.3;
  padding: 10px;
}
