@import '../../styles/variables.less';

.wrapper {
  background: #0008;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  overflow: auto;
  outline: 0;
  width: 0;
  height: 0;

  &:before {
    display: inline-block;
    width: 0;
    height: 100%;
    vertical-align: middle;
    content: '';
  }

  .modal-inner {
    text-align: center;
    background-color: #fff;
    top: 0;
    display: inline-block;
    vertical-align: middle;
    width: 88%;
    margin: 6%;
    border-radius: 10px;
    box-shadow: -10px 10px 40px 0 #555;
  }
}

.wrapper--visible {
  width: auto;
  height: auto;
  z-index: 1000;
}

.modal-header {
  display: block;
  padding-top: 80px;

  .score-number-title-icon {
    @size: 72px;

    width: @size;
    height: @size;
    display: inline-block;
    vertical-align: -14px;
  }

  .score-number {
    display: inline-block;
    //margin-top: 40px;
    font-family: @number-family;
    font-size: 60px;
    line-height: 1;
    padding-left: 10px;
  }

  .right-and-wrong-info {
    display: block;
    text-align: center;
    margin-top: 20px;
    line-height: 0;
  }

  .right-and-wrong-info-text {
    display: inline-block;
    font-size: 22px;
    padding: 0 10px;
    color: #ddd;
  }
}

.modal-body {
  margin-top: 30px;

  .score-content {
    display: block;
    margin-top: 60px;
  }

  .score-content-text {
    font-size: 32px;
  }

  .wrong-char-wrapper {
    margin-top: 40px;
    padding: 20px;

    .wrong-char-title {
      margin-left: 5px;

      .wrong-char-title-text {
        font-size: 24px;
        color: #999;
      }
    }

    .wrong-char-x-scroll-wrapper {
      width: 100%;
      padding: 10px 0;
      overflow-x: scroll;

      .wrong-char-x-scroll-inner {
        display: block;
        text-align: left;
        width: auto;
        padding: 25px 0;

        .wrong-char-item {
          display: inline-block;
          width: 100px;
          margin: 0 10px;
        }
      }
    }
  }
}

.modal-footer {
  margin-top: 50px;
  padding-bottom: 80px;

  .close-modal-button {
    .button--primary();

    @font-size: 38px;

    display: inline-block;
    padding: 20px 80px;

    .close-modal-button-text {
      padding-left: 10px;
      font-size: @font-size;
      font-weight: 400;
    }
  }
}
