@import '../../styles/variables.less';

.wrapper {
  background-color: transparent;
}

//.wrapper-fixed {
//  position: fixed;
//  height: @char-banner-height;
//  left: 0;
//  right: 0;
//  background-color: @page-wrapper-bg-cloor;
//  z-index: 99;
//  box-shadow: -5px 3px 6px 0 #dad0d0;
//}

.wrapper-scroll {
  padding-top: @char-banner-height;
  padding-bottom: 50px;
}
